* {
  text-align: center;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#buttons {
  text-align: center;
  display: block;
  margin: auto;
  font-size: 16px;
  width: 50%;
}

button {
  margin-left: 8px;
  margin-right: 8px;
}
