<div>
  <div class="topItems" id="redPlayer">
    <h4>Player 1</h4>
  </div>
  <div class ="topItems">
    <h2>Connect Four</h2>
  </div>
  <div class="topItems" id="blackPlayer">
    <h4>Player 2</h4>
  </div>
</div>
<h1 *ngIf="state === gameOverState"> {{winningPlayer}} wins!!</h1>
<h3 *ngIf="columnIsFull">Column is Full</h3>
<br />
<canvas #myCanvas width="700" height="600" (click)="clickOnCanvas($event)"></canvas>
<div id="newGame">
  <button *ngIf="state === gameOverState" (click)="state.startNewGame()">Play Again?</button>
</div>
